<br><br>
<div class="container">
  <h2><%= @question %></h2>
  <p>-You</p>
</div>
<div class="container">
  <h2><%= @answer %></h2>
  <p>-Your coach</p>
</div>
<br>
<div class="container">
  <a class= "btn btn-primary" href="/ask">Ask a new question</a>
</div>
