<div class="container text-center">
  <h1>Stupid Coaching</h1>
  <h3>IAMA Coach AMA</h3>
  <br>
  <form action="/answer">
    <input type="text" name="question" class="form-control">
    <br>
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
